<h1>Edit the Book Details</h1>

<%= form_for(@book) do |f| %>
  <% #url: book_path(@book), method: 'patch' %>

  <%= render(partial: 'form', locals: {f: f}) %>

  <div>
    <%= f.submit("Edit Book") %>
  </div>

<% end %>  

<%= link_to('Back to home', books_path)%>